@import "tailwindcss";
body{
    min-height: 100vh;
    font-family: 'Matter', sans-serif;
    /* background: linear-gradient(135deg, #020024 0%, #001933 40%, #000d1a 100%); */
}

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Matter';
  src: url('./assets/fonts/Matter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url('./assets/fonts/Matter-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}



@keyframes blob {
  0%   { transform: scale(1); }
  33%  { transform: scale(1.2); }
  66%  { transform: scale(0.8); }
  100% { transform: scale(1); }
}

@theme {
  /* animation utility */
  --animate-blob: blob 15s infinite;

  /* custom gradient */
  --background-skills-gradient:
    linear-gradient(38.73deg, rgba(204, 0, 187, 0.15) 0%, rgba(201, 32, 184, 0) 50%),
    linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.15) 100%);
}